# Ignore the .metadata directory
.metadata/

# These are descriptions of the chip
*.svd

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib
*.a

# Executables
*.exe
*.out
*.app

# Various build files
EPII_CM55M_APP_S/obj_*/**
we2_image_gen_local/output_*/**
we2_image_gen_local/Images*.txt
*.elf
*.map
*.img

# ---- Generated DPD content ----
# Ignore everything under this tree
we2_image_gen_local_dpd/**

# But keep the golden reference image
!we2_image_gen_local_dpd/output_case1_sec_wlcsp/
!we2_image_gen_local_dpd/output_case1_sec_wlcsp/output.img

# Editor config
.vscode/

# Node.js dependencies
node_modules/
